@onyx: #373539;
@granite_gray: #5F6062;
@spanish_gray: #8E9299;
@platinum: #E6E8E6;
@spanish_blue: #0074B7;
@red: red;

body {
	background-color: @platinum;
}
h1 {
    color: @granite_gray;
    font-weight: 600;
}
a {
    color: @spanish_blue;
    &:hover {
        color: @red;
    }
}
